@import "tailwindcss";

@theme {
  --color-rica-50: #f4fbf2;
  --color-rica-100: #e5f6e2;
  --color-rica-200: #caecc4;
  --color-rica-300: #a0dc97;
  --color-rica-400: #71c563;
  --color-rica-500: #62b445; /* Primary Brand Accent */
  --color-rica-600: #499232;
  --color-rica-700: #3b742a;
  --color-rica-800: #325d26;
  --color-rica-900: #2b4d22;
  --color-rica-950: #132a0e;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

input,
textarea,
select {
  color: #0f172a; /* dark slate text color */
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8; /* readable placeholder gray */
}
